.App {
  text-align: center;
  height:100%;
  width:100%;
}
#root{
  height:100%;
  width:100%;
  background: #1E1D4D !important;
}








.header{
  padding : 10px;
  display:flex;
  
  width:auto;
  justify-content: space-between;
}

.search{
  display:flex;
  align-items: center;
  justify-content: center;
}

input{
  width: 30vw;
  max-width:300px;
}


.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon{
  color:white!important;
}

.posts li{
  color:#1E1D4D ;
  background: aliceblue;
}
.posts li h4{
  color:#f74489;
}
h1{
  color:#f74489;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.pagination li{
  
  margin:2px;
  color:#1E1D4D;
}

.pagination a{
  border-radius: 50%;
  background-color: #ECEBF3;
}
.pagination li :hover{
  cursor: pointer;
} 
.pagination ul{
  border-radius: 50%;
}

.footer-copyright{
  color: aliceblue;
}